$cWhite: white;
$cBlack: #333;
$cGrayMidium: #666;
$cGrayLight: #eaebe6;
$cTitle: #333;
$cTitleLight: #666;
$contentMaxWidth: 1080px;
$navHeight: 60px;
$cTheme: #853737;
$cThemeMidium: #944545;
$cThemeLight: #E7B9B9;
$cThemeDark: #3B0202;
$cGold: #D6C480;
$cYellow: #f9f4aa;