$cWhite: white;
$cBlack: #333;
$cTitle: #333;
$cTitleLight: #666;
$cBgGray: #eaebe6;
$contentMaxWidth: 1080px;
$navHeight: 60px;
$cTheme: #853737;
$cThemeMiddium: #944545;
$cThemeLight: #E7B9B9;
$cThemeDark: #3B0202;
$cGold: #D6C480;