@use "../globals" as *;

.swiper {
  overflow: visible !important;
}

.swiper-slide {
  // デフォルトでrelativeに設定してある。
  // position: relative;
  height: 400px;
  overflow: hidden;
  // @include mq(lg) {
  //   box-shadow: 0 8px 40px -10px rgba($color: #333, $alpha: .8);
  // }

  & > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.3);
    transition: transform 1.9s ease;
  }
  
  &::after {
    @include positionAlt(tl);
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 61, 125, .1);
    // z-index: 1;
  }
  &-active {
    & > img {
      transform: none;
    }
    & > .hero__title {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
  } 
}

.hero {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 400px;
  overflow: hidden;
  z-index: -1;
  @include mq(lg) {
  }

  &__title {
    @include positionAlt(50%, 50%, -50%, calc(-50% + 50px));
    font-size: 25px;
    color: #fff;
    opacity: 0;
    transition: opacity 6s ease, transform 1s ease;
    z-index: 2;
  }
}
